*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
body{
    overflow-x: hidden;
    position: relative;
}
.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    z-index: 999;
    display: none;
    background: #1c1c1c;
    color: #fff;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}
.back-to-top:hover{
    background: #ffab4a;
    color: #1c1c1c;
    transform: translateY(-5px);
    transition: 0.5s;
}
/* navbar part goes here */
.navbar-expand-lg .navbar-nav .nav-link{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #f5f5f5;
    font-size: 15px;
    padding-left: 20px;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #ffab4a;
}
.navbar{
    padding-top: 20px;
    background-color: rgba(0,0,0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
}
.navbg{
    animation: sticky 1s;
    -webkit-animation: sticky 1s;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1c1c1c;
}
@keyframes sticky{
    from{
        top: -150px;
    }
    to{
        top: 0;
    }
}
.navbar-expand-lg .navbar-nav .nav-link.active{
    color: #ffab4a;
}
.navbar-nav .btn{
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(200deg, #ffab4a 0%, #ff4a4a 100%);
    color: #fff;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.navbar-nav .btn::before{
    content: '';
    height: 200%;
    width: 40px;
    background: rgba(255,255,255,.3);
    position: absolute;
    top: -20px;
    transform: translateX(-80px) rotate(20deg);
    -webkit-transform: translateX(-80px) rotate(20deg);
    -moz-transform: translateX(-80px) rotate(20deg);
    -ms-transform: translateX(-80px) rotate(20deg);
    -o-transform: translateX(-80px) rotate(20deg);
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}
.navbar-nav .btn:hover::before{
    transform: translateX(230px) rotate(20deg);
    -webkit-transform: translateX(230px) rotate(20deg);
    -moz-transform: translateX(230px) rotate(20deg);
    -ms-transform: translateX(230px) rotate(20deg);
    -o-transform: translateX(230px) rotate(20deg);
}
/* banner part goes here */
#banner{
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.banner-text{
    height: 100vh;
}
.content h1{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    padding-bottom: 20px;
}
.content p{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 30px;
}
.content a{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 38px;
    border-radius: 30px;
    background-color: #ff954a;
    box-shadow: inset 0 0 0 0 #ff4a4a ;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.content a:hover{
    box-shadow: inset 300px 0 0 0 #ff4a4a ;
    cursor: pointer;
}
.banner-svg{
    height: 100vh;
}
.banner-svg img{
    -webkit-animation: moveBounce 5s linear infinite;
    animation: moveBounce 5s linear infinite;
}
@keyframes moveBounce{
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
    50% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
}
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
}
/* about part goes here */
#feature{
    padding-top: 80px;
}
.feature-item .card{
    padding: 50px 27px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 0px rgba(159,159,159,0.6);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border: none;
    position: relative;
    z-index: 1;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.feature-item .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    background: linear-gradient(to right top, #ffab4a, #ff954a, #ff6b4a, #ff4a4a);
    opacity: 0;
    visibility: hidden;
    border-radius: 30px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.feature-item .card:hover::before {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.feature-item .card:hover h3{
    color: #fff;
}
.feature-item .card:hover p{
    color: #fff;
}
.feature-item .card:hover .icon-main{
    background: transparent;
}
.feature-item i{
    font-size: 40px;
    color: #fff;
}
.feature-item h3{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    color: #222;
    font-family: 'Raleway', sans-serif;
}
.feature-item p{
    font-size: 14px;
    font-weight: 400;
    color: #444;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    padding-top: 5px;
}
.icon-main{
    width: 70px;
    height: 70px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    margin-bottom: 25px;
    background-color: #ffab4a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* about part goes here */
#about{
    padding-top: 80px;
    padding-bottom: 80px;  
}
.about-bg{
    background: url(../images/shape.png);
    background-position-x: 100%;
    background-position-y: 115px;
    background-repeat: no-repeat;
}
.about-right h6{
    color: #ff4a4a ;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.about-right h6::after{
    content: '';
    position: absolute;
    left: 14%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.about-right h2{
    color: #444;
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    line-height: 45px;
    max-width: 503px;
}
.about-right h3{
    color: #222;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 35px;
    max-width: 574px;
    padding-top: 18px;
}
.about-right p{
    color: #444;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 18px;
    line-height: 26px;
    max-width: 507px;
    margin-bottom: 36px;
}
.about-button .btn{
    position: relative;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(200deg, #ffab4a 0%, #ff4a4a  100%);
    color: #fff;
    padding: 12px 35px;
    border-radius: 30px;
    border: none;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.about-button .btn::before{
    content: '';
    height: 200%;
    width: 40px;
    background: rgba(255,255,255,.3);
    position: absolute;
    top: -20px;
    transform: translateX(-80px) rotate(20deg);
    -webkit-transform: translateX(-80px) rotate(20deg);
    -moz-transform: translateX(-80px) rotate(20deg);
    -ms-transform: translateX(-80px) rotate(20deg);
    -o-transform: translateX(-80px) rotate(20deg);
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}
.about-button .btn:hover::before{
    transform: translateX(230px) rotate(20deg);
    -webkit-transform: translateX(230px) rotate(20deg);
    -moz-transform: translateX(230px) rotate(20deg);
    -ms-transform: translateX(230px) rotate(20deg);
    -o-transform: translateX(230px) rotate(20deg);
}
/* service part goes here */
#service{
    padding-top: 80px;
    padding-bottom: 60px;
    background: url(../images/counter-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.service-heading h6{
    color: #ff4a4a ;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.service-heading h6::after{
    content: '';
    position: absolute;
    left: 34%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.service-heading h6::before{
    content: '';
    position: absolute;
    right: 34%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.service-heading h2{
    color: #222;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 80px;
}
.slider-left h3{
    font-size: 24px;
    color: #444;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    padding-top: 132px;
}
.slider-middle{
    margin-top: 115px;
    margin-left: 70px;
}
.slider-right{
    width: 80%;
    margin-top: 45px;
    background: #fff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    position: relative;
}
.slider-right::after{
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    left: -10px;
    top: 40%;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.slider-right p{
    font-family: 'Montserrat', sans-serif;
    color: #444;
    font-size: 14px;
    font-weight: 400;
    padding: 30px;
    line-height: 24px;
    max-width: 400px;
}
.slider-right2{
    width: 80%;
    margin-top: 45px;
    margin-left: 105px;
    background: #fff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    position: relative;
}
.slider-right2::after{
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    right: -10px;
    top: 40%;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.slider-right2 p{
    font-family: 'Montserrat', sans-serif;
    color: #444;
    font-size: 14px;
    font-weight: 400;
    padding: 30px;
    line-height: 24px;
    max-width: 400px;
}
.slider-middle2{
    margin-top: 115px;
    margin-left: 70px;
}
.slider-left2 h3{
    font-size: 24px;
    color: #444;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    padding-top: 132px;
}
.slick-center img{
    transition: all ease.3s;
    -webkit-transition: all ease.3s;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transition: all ease.3s;
    -ms-transition: all ease.3s;
    -o-transition: all ease.3s;
}
.slick-center .slider-right{
    filter: drop-shadow(-3px 3px 2px #bdb3b3);
}
.slick-center .slider-right2{
    filter: drop-shadow(-3px 3px 2px #bdb3b3);
}
/* experience part goes here */
#experience{
    padding-top: 80px;
    padding-bottom: 60px;
}
.experience-bg{
    background: url(../images/shape2.png);
    background-position-x: 0;
    background-position-y: 115px;
    background-repeat: no-repeat;
}
.experience-heading h6{
    color: #ff4a4a;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.experience-heading h6::after{
    content: '';
    position: absolute;
    left: 36%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a;
}
.experience-heading h6::before{
    content: '';
    position: absolute;
    right: 36%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a;
}
.experience-heading h2{
    color: #222;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 80px;
}
.accordion-item{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 160px;
    width: 70%;
    -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.25);
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.25);
}
.accordion-button{
    border: none;
}
.accordion-button::after{
    display: none;
}
.accordion-body{
    color: #1c1c1c;
    background-color: #fff;
}
.accordion-collapse{
    border: none;
}
.accordion-button.collapsed{
    background-color: #fff;
    color:#1c1c1c;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.accordion-button.collapsed:hover{
    color:#ff4a4a;
}
.accordion-button:not(.collapsed){
    background-color: #ff4a4a;
    color: #fff;
}
.accordion-button:focus{
    border-color: transparent;
    box-shadow: none;
}
.accordion-item button{
    display: block;
}
.accordion-button i{
    float: right;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.accordion-button:not(.collapsed) i{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.accordion-header{
    color: #1c1c1c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
/* counter part goes here */
#counter{
    padding-top: 40px;
    padding-bottom: 40px;
}
.counter-item{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.counter-item::before{
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-image: linear-gradient(40deg, #ff4a4a 0%, #ffab4a 100%);
}
.inner{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9;
}
.inner h3{
    color: #1c1c1c;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 44px;
}
.inner h5{
    color: #1c1c1c;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
/* portfolio part goes here */
#portfolio{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f8e8fa;
}
.portfolio-heading h6{
    color: #ff4a4a ;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.portfolio-heading h6::after{
    content: '';
    position: absolute;
    left: 33%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.portfolio-heading h6::before{
    content: '';
    position: absolute;
    right: 33%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.portfolio-heading h2{
    color: #222;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 80px;
}
.gallery-item{
    position: relative;
}
.gallery-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(200deg, #ffab4a 0%, #ff4a4a  100%);
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.gallery-details{
    align-self: center;
}
.gallery-details h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    line-height: 24px;
}
.gallery-details i{
    padding-bottom: 10px;
    color: white;
    font-size: 24px;
}
.gallery-item:hover .gallery-overlay{
    opacity: 0.9;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
/* team part goes here */
#team{
    padding-top: 80px;
    padding-bottom: 80px;
}
.team-heading h6{
    color: #ff4a4a ;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.team-heading h6::after{
    content: '';
    position: absolute;
    left: 39%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.team-heading h6::before{
    content: '';
    position: absolute;
    right: 39%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.team-heading h2{
    color: #222;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 80px;
}
.team-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 91.5%;
    background: linear-gradient(rgba(255, 74, 74, 0.7), rgba(255, 171, 74, 0.7));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0)rotate(270deg);
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
    -webkit-transform: scale(0)rotate(270deg);
    -moz-transform: scale(0)rotate(270deg);
    -ms-transform: scale(0)rotate(270deg);
    -o-transform: scale(0)rotate(270deg);
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
.team-image{
    position: relative;
}
.team-image img{
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
.team-image:hover .team-overlay{
    opacity: 1;
    transform: scale(1)rotateX(0deg);
    -webkit-transform: scale(1)rotateX(0deg);
    -moz-transform: scale(1)rotateX(0deg);
    -ms-transform: scale(1)rotateX(0deg);
    -o-transform: scale(1)rotateX(0deg);
}
.team-content{
    text-align: center;
}
.team-content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
    padding-top: 30px;
}
.team-content h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    color: #444;
    padding-top: 5px;
}
.team-social a i{
    font-size: 25px;
    line-height: 55px;
    margin-left: -5px;
    width: 55px;
    height: 55px;
    background: #ffdac0;
    color: #db320c;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.team-social a:hover>i{
    color: #fff;
    background-color: #ff4a4a;
}
/* testimonial part goes here  */
#testimonial{
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(../images/testimonial-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.testimonial-heading h6{
    color: #ff4a4a;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.testimonial-heading h6::after{
    content: '';
    position: absolute;
    left: 36%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a;
}
.testimonial-heading h6::before{
    content: '';
    position: absolute;
    right: 36%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a;
}
.testimonial-heading h2{
    color: #222;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 85px;
}
.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user{
    text-align: center;
    box-shadow: 0 10px 20px -5px #00000061;
    position: relative;
    padding: 20px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}
.testimonial-item{
    padding: 88px;
}
.user-image img{
    position: absolute;
    top: -30%;
    left: 41%;
    width: 120px;
    border-radius: 50%;
    border: 10px solid #fec600;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.user-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #222;
    line-height: 24px;
    padding-top: 50px;
}
.user-content i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
.user-content h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #222;
    padding-top: 34px;
    padding-bottom: 20px;
}
.slick-dots {
    position: absolute;
    bottom: 22px;
    left: 48%;
    z-index: 999;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.slick-dots li{
    width: 20px;
    height: 20px;
    border: 2px solid #ffab4a;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.slick-dots li button{
    color: transparent;
    width: 10px;
    height: 10px;
    line-height: 17px;
    border: 0;
    opacity: 0;
    background-color: #ff4a4a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
li.slick-active button {
    opacity: 1;
}
li.slick-active {
    border-color: #ff4a4a;
}
/* blog part goes here */
#blog{
    padding-top: 80px;
    padding-bottom: 40px;
}
.blog-heading h6{
    color: #ff4a4a;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.blog-heading h6::after{
    content: '';
    position: absolute;
    left: 41%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a;
}
.blog-heading h6::before{
    content: '';
    position: absolute;
    right: 41%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a;
}
.blog-heading h2{
    color: #222;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 80px;
}
#blog .card-body{
    padding-left: 20px;
}
#blog .card-title{
    color: #222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
}
#blog .card a{
    color: #ff4a4a;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding-bottom: 10px;
}
#blog .card{
    background-color: #fff;
    box-shadow: 5px 5px 8px 0px rgba(159,159,159,0.6);
    position: relative;
    margin: 0 12px;
}
#blog .card a i{
    margin-left: 3px;
}
.date{
    padding-top: 30px;
}
.date h5{
    color: #ff4a4a;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.card-blog-image{
    overflow: hidden;
}
.card-blog-image img{
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
#blog .card:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* marketplace part goes here */
.counter-one{
    width: 210px;
    float: left;
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 25px;
}
.single_counter img{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 10px;
}
.slick-center .single_counter2{
    border-color: #fec600;
}
/* footer part goes here */
#contact{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #222;
}
.footer-text p{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 10px;
    max-width: 280px;
}
.footer2 ul{
    padding-top: 5px;
}
.footer2 ul li a{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.footer2 ul li a:hover{
    color: #ffab4a;
}
.footer3 ul{
    padding-top: 5px;
}
.footer3 ul li a{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.footer3 ul li a:hover{
    color: #ffab4a;
}
.footer4 ul li a{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.footer4 ul li a:hover{
    color: #ffab4a;
}
.footer-contact-info li{
    position: relative;
    margin-bottom: 22px;
    padding-left: 35px;
}
.footer-contact-info span{
    display: block;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
}
.footer-contact-info i{
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 20px;
    color: #ff4a4a;
}
.social-links{
    padding-left: 0;
    margin-bottom: 0;
}
.social-links li{
    display: inline-block;
    padding-right: 10px;
}
.social-links i{
    color: #fff;
    font-size: 20px;
}
.social-links a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
}
.social-links li a.facebook{
    background-color: #3b5998;
    border-color: #3b5998;
    padding-left: 12px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.social-links li a.twitter{
    background-color: #1da1f2;
    border-color: #1da1f2;
    padding-left: 9px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.social-links li a.linkedin{
    background-color: #007bb5;
    border-color: #007bb5;
    padding-left: 10px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.social-links li a.pinterest{
    background-color: #c13584;
    border-color: #c13584;
    padding-left: 9px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.social-links li a.facebook:hover{
    background-color: #ff4a4a;
}
.social-links li a.twitter:hover{
    background-color: #ff4a4a;
}
.social-links li a.linkedin:hover{
    background-color: #ff4a4a;
}
.social-links li a.pinterest:hover{
    background-color: #ff4a4a;
}
/* copyright part goes here */
#copyright {
    background-color: #111;
}
.copyright-left p{
    line-height:110px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
}
.copyright-left p a{
    padding: 0 15px;
    color: #fff;
}
.copyright-left span{
   color: #ff4a4a;
   padding-right: 10px;
}
.copyright-right a{
    padding: 0 15px;
    border-right: 1px solid #ff4a4a;
    color: #fff;
    line-height:110px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.copyright-right a:last-child{
    border-right: 0;
}
.copyright-right a:hover{
    color: #ffab4a;
}
/* about page css goes here */
#about-breadcrumb{
    background: url(../images/about-page-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}
#about-breadcrumb::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .60;
}
#about-breadcrumb a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
}
#about-breadcrumb span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #ff4a4a;
}
.breadcrumb-item{
    text-align: center;
    margin: 10px 0;
}
.breadcrumb-item i{
    color: #ff4a4a;
}
.breadcrumb-item h2{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 45px;
}
#pricing{
    padding-top: 80px;
    padding-bottom: 80px;
}
.pricing-heading h6{
    color: #ff4a4a ;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.pricing-heading h6::after{
    content: '';
    position: absolute;
    left: 37%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.pricing-heading h6::before{
    content: '';
    position: absolute;
    right: 37%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.pricing-heading h2{
    color: #222;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 80px;
}
.single-price{
    background: #222;
    box-shadow: 1px 1px 20px rgba(0,0,0, 0.5);
    text-align: center;
    padding: 30px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.single-price a{
    background: #ff4a4a;
    color: #fff;
    padding: 12px 35px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    border-radius: 30px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.single-price a:hover{
    color:#222;
    background: #ff954a;
}
.single-price:hover{
    box-shadow: 0 0 15px rgba(0,0,0, 1);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    z-index: 1;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.single-price h3{
    color: #fff;
    padding-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #ff4a4a;
    margin: auto;
    text-align: center;
}
.price h3{
    color: #fff;
    line-height: 115px;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.deals{
    margin-top: 30px;
    margin-bottom: 30px;
}
.deals h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color: #fff;
}
#newsletter{
    background: url(../images/newsletter-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    margin-top: 80px;
    margin-bottom: 80px;
}
#newsletter::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
    background: linear-gradient(to right top, #ffab4a, #ff954a, #ff6b4a, #ff4a4a);
    opacity: 0.9;
}
.newsletter-content{
    padding-top: 130px;
    padding-bottom: 130px;
}
.newsletter-content h6{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.newsletter-content h2{
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding-top: 20px;
    line-height: 65px;
}
.field{
    margin-top: 25px;
    position: relative;
}
.field input{
    width: 100%;
    height: 65px;
    padding-left: 25px;
    border: none;
    border-radius: 10px;
    outline: 0;
}
.field button{
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    outline: none;
    height: 65px;
    padding: 0 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.field button:hover{
    background-color: #222;
}
.newsletter_email_error{
    color: #fff;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
/* services page css goes here */
#services-breadcrumb{
    background: url(../images/services-page-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}
#services-breadcrumb::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .60;
}
#services-breadcrumb a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
}
#services-breadcrumb span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #ff4a4a;
}
.services-img{
    padding-top: 80px;
}
.services-details h3{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.services-details p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    max-width: 734px;
}
.services-details ul{
    line-height: 36px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}
.services-details ul i{
    color: #ff4a4a;
    padding-right: 8px;
    font-size: 20px;
}
.services-information{
    padding-top: 80px;
}
.services-information ul{
    padding-left: 0;
    list-style-type: none;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 40px 10px #eaeaef;
    box-shadow: 0 5px 40px 10px #eaeaef;
    margin-bottom: 30px;
}
.services-information ul li a{
    display: block;
    border-bottom: 1px solid #eee;
    border-bottom-color: rgb(238, 238, 238);
    padding: 20px 30px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.services-information ul li a.active{
    background-color: #ff4a4a;
    border-color: #ff4a4a;
    color: #fff;
}
.download-file{
    background-color: #fff;
    -webkit-box-shadow: 0 5px 40px 10px #eaeaef;
    box-shadow: 0 5px 40px 10px #eaeaef;
    margin-bottom: 30px;
}
.download-file h3{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.download-file ul{
    padding-left: 0;
    margin-bottom: 0;
}
.download-file ul li{
    border-top: 1px solid #eee;
}
.download-file ul li a{
    display: block;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 600;
    color: #222;
}
.download-file ul li i{
    position: absolute;
    right: 6%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 22px;
}
/* portfolio page css goes here */
#portfolio-breadcrumb{
    background: url(../images/portfolio-page-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}
#portfolio-breadcrumb::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .60;
}
#portfolio-breadcrumb a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
}
#portfolio-breadcrumb span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #ff4a4a;
}
#portfolio-page{
    padding-top: 80px;
    padding-bottom: 80px;
}
/* blog page css goes here */
#blog-breadcrumb{
    background: url(../images/blog-page-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}
#blog-breadcrumb::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .60;
}
#blog-breadcrumb a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
}
#blog-breadcrumb span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #ff4a4a;
}
.blog-page{
    padding-top: 80px;
}
.article-content{
    margin-top: 30px;
}
.article-content .entry-meta{
    margin-bottom: -8px;
}
.article-content .entry-meta ul{
    padding-left: 0;
    margin-bottom: 0;
}
.article-content .entry-meta ul li{
    position: relative;
    display: inline-block;
    color: #6b6b84;
    margin-right: 20px;
}
.article-content .entry-meta ul li span{
    display: inline-block;
    color: #222;
    font-size: 16px;
    font-weight: 600;
}
.article-content .entry-meta ul li a{
    color: #444;
}
.article-content h3{
    margin-bottom: 25px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.article-content p{
    margin-bottom: 15px;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
}
blockquote{
    background-color: #fafafa;
    padding: 30px !important;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 3px solid #ff4a4a;
    border-right: 3px solid #ff4a4a;
    border-radius: 5px;
    font-style: italic;
}
.share .social{
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    text-align: right;
}
.share .social li{
    display: inline-block;
}
.share .social li a{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff4a4a;
    color: #fff;
    line-height: 29px;
    text-align: center;
    padding: 0 3px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.share .social li a:hover{
    color: #222;
}
.share .social li span{
    display: inline-block;
    margin-right: 2px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #6b6b84;
}
.search-bar{
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 25px;
}
.search-bar .search-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
}
.search-title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    bottom: -1px;
    background: linear-gradient(to right top, #ffab4a, #ff954a, #ff6b4a, #ff4a4a);
}
.search-form{
    position: relative;
}
.search-form label{
    display: block;
    margin-bottom: 0;
}
.search-form button{
    border: none;
    background-color: #eee;
    color: #ff4a4a;
    height: 40px;   
    width: 40px;
    position: absolute;
    right: 5px;
    padding: 0;
    -webkit-transition: .5s;
    transition: .5s;
    top: 5px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.search-field{
    background-color: transparent;
    height: 50px;
    padding: 8px 15px;
    border: 1px solid #eee;
    width: 100%;
    display: block;
    outline: 0;
    -webkit-transition: .5s;
    transition: .5s;
    border-radius: 5px;
}
.posts-area{
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 25px;
    margin-top: 30px;
}
.posts-title{
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.posts-title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    bottom: -1px;
    background: linear-gradient(to right top, #ffab4a, #ff954a, #ff6b4a, #ff4a4a);
}
.posts-img a{
    float: left;
    height: 80px;
    overflow: hidden;
    display: block;
    position: relative;
    width: 80px;
    margin-right: 15px; 
    z-index: 1;
}
.posts-item{
    overflow: hidden;
    margin-bottom: 15px;
}
.posts-item:last-child{
    margin-bottom: 0;
}
.posts-info{
    overflow: hidden;
    margin-top: 5px;
}
.posts-info span{
    display: block;
    color: #ff4a4a;
    margin-top: -2px;
    margin-bottom: 5px;
    font-size: 14px;
}
.posts-info h4{
    line-height: 24px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 10px;
}
.posts-info a{
    color: #222;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.posts-info a:hover{
    color: #ff4a4a;
}
/* contact page css goes here */
#contact-breadcrumb{
    background: url(../images/contact-page-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
}
#contact-breadcrumb::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .60;
}
#contact-breadcrumb a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
}
#contact-breadcrumb span{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    color: #ff4a4a;
}
#contact-page{
    padding-top: 80px;
}
.contact-heading h6{
    color: #ff4a4a ;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    position: relative;
}
.contact-heading h6::after{
    content: '';
    position: absolute;
    left: 37%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.contact-heading h6::before{
    content: '';
    position: absolute;
    right: 37%;
    top: 40%;
    display: block;
    width: 40px;
    border: 2px dashed #ff4a4a ;
}
.contact-heading h2{
    color: #222;
    font-size: 32px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 80px;
}
.contact-form{
    padding: 30px 25px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(51,51,51,.1);
    max-width: 900px;
    margin: auto;
}
.form-group label{
    margin-bottom: 10px;
}
.form-group button{
    position: relative;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(200deg, #ffab4a 0%, #ff4a4a  100%);
    color: #fff;
    padding: 12px 35px;
    border-radius: 30px;
    font-weight: 800;
    font-size: 14px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.form-group button::before{
    content: '';
    height: 200%;
    width: 40px;
    background: rgba(255,255,255,.3);
    position: absolute;
    top: -20px;
    transform: translateX(-80px) rotate(20deg);
    -webkit-transform: translateX(-80px) rotate(20deg);
    -moz-transform: translateX(-80px) rotate(20deg);
    -ms-transform: translateX(-80px) rotate(20deg);
    -o-transform: translateX(-80px) rotate(20deg);
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
}
.form-group button:hover::before{
    transform: translateX(230px) rotate(20deg);
    -webkit-transform: translateX(230px) rotate(20deg);
    -moz-transform: translateX(230px) rotate(20deg);
    -ms-transform: translateX(230px) rotate(20deg);
    -o-transform: translateX(230px) rotate(20deg);
}
.contact-card{
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 48px 0 rgba(0,0,0,.08);
    background: #fff;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 80px;
    position: relative;
    z-index: 1;
}
.contact-card .icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #f5f5f5;
    border-radius: 50%;
    font-size: 35px;
    color: #ff4a4a;
    margin-bottom: 12px;
    position: relative;
}
.contact-card h3{
    margin-bottom: 12px;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
.contact-card a{
    display: inline-block;
    color: #6b6b84;
}
.error-message{
    color: red;
    font-size: 16px;
    font-style: italic;
    padding-top: 10px;
}